.card {
  border: 1px solid black;
  display: flex;
  direction: row;
  justify-content: space-evenly;
  margin: 50px;
  border-radius: 2%;
  overflow: hidden;
}

.image {
  width: 250px;
  height: 170px;
  background-position: center;
  background-size: cover;
  position: static;
}

.content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 200px;
}

.sale {
  background-color: black;
  color: whitesmoke;
  height: 30px;
}
